{{#if isShowingForm}}

<form id='submitPlayers' class="newGame form-group" {{action 'submitPlayers' on="submit"}}>

  <label for="username0" class="">Name: </label>
  {{input value=username0 class="form-control"}}

  <label for="username1" class="">Name: </label>
  {{input value=username1 class="form-control"}}

  <label for="username2" class="">Name: </label>
  {{input value=username2 class="form-control"}}

  <label for="username3" class="">Name: </label>
  {{input value=username3 class="form-control"}}

  <button {{action 'submitPlayers'}}>Save</button>
</form>
{{else}}
  <button {{action "showForm"}}class="btn btn-primary btn-block" type="submit">Add Player</button>
{{/if}}
