{{#if isShowingForm}}

<form id='submitPlayers'{{action 'submitPlayers' on="submit"}}>

  <div class="form-group">
    <!-- <label for="username1" class=""></label> -->
    {{input value=username1 class="form-control" placeholder="NAME"}}
  </div>

  <div class="form-group">
    <!-- <label for="userage1" class=""></label> -->
    {{input type='number' value=userage1 class="form-control" placeholder="AGE"}}
  </div>
<!--
  <label for="username2" class="">Name: </label>
  {{input value=username2 class="form-control"}}

  <label for="userage2" class="">Age: </label>
  {{input type='number' value=userage2 class="form-control"}}

  <label for="username3" class="">Name: </label>
  {{input value=username3 class="form-control"}}

  <label for="userage3" class="">Age: </label>
  {{input type='number' value=userage3 class="form-control"}}

  <label for="username4" class="">Name: </label>
  {{input value=username4 class="form-control"}}

  <label for="userage4" class="">Age: </label>
  {{input type='number' value=userage4 class="form-control"}} -->

  <button {{action 'submitPlayers'}} class="btn btn-success" >Save</button>
</form>
{{else}}
  <button {{action "showForm"}}class="btn btn-primary" type="submit" id="submitPlayers">add player</button>
{{/if}}
