

{{#if allSelected}}
  {{#if voted}}
    {{#if roundComplete}}
      {{#each results as |result|}}
        <h2>{{result.username}}</h2>
      {{/each}}
    {{else}}
      <h2>Waiting for all votes...</h2>
    {{/if}}

  {{else}}
    <div id="voteBox">
      <h2>{{player.username}}'S VOTE</h2>
      {{#each selectedAnswers as |selectedAnswer|}}
        {{selectedAnswer.cardcontent}}
        {{selectedAnswer.id}}
        <button id="voteButton" class="btn voteButtons"{{action 'vote' selectedAnswer}}>vote</button>
      {{/each}}
    </div>
  {{/if}}
{{else}}
  {{selectedStatus.cardcontent}}
  <div id="cards">

    {{answer-tile playerAnswers=playerAnswers allAnswers=allAnswers selectCard="selectCard"}}
  </div>
{{/if}}
