<div class="container">
  <div class="row player-name">
    {{model.player.username}}
  </div>
  <div class="row">
    {{question-tile questions=model.questions}}
  </div>
  <hr>
  <div class="row">
    {{answer-selection playerAnswers=model.player.answers allAnswers=model.allAnswers player=model.player players=model.players game=model.game transIndex="transIndex"}}
  </div>
</div>



<!-- <div class="container">
  <div class="row">
    <p>test before{{model.username}}test after</p> -->
    <!-- why doesnt this line work -->
    <!-- {{question-tile questions=model.questions}}
  </div>
  <hr>

  <div class="row">
    <div id="answer-selected" class="row">
      {{answer-tile answers=model.player.answers}}
    </div> -->
    <!-- answer-tile template -->
    <!-- <hr>
  </div>
>>>>>>> wed1
</div>

<div class="container">
  <div class="row">
    {{answer-selection answers=model.player.answers}}
  </div>
</div> -->
